# Pre Processing of final dataset

In [34]:
import numpy as np
import pandas as pd
import os

In [35]:
import warnings 
warnings.filterwarnings(action = 'ignore')

### Load the data

In [36]:
final_dataset_path = r'D:\H1B project\Final_dataset'

final_dataset = pd.read_csv(os.path.join(final_dataset_path, 'final_dataset.csv'))
pd.options.display.max_columns = 47
final_dataset

,CASE_NUMBER,CASE_STATUS,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,EMPLOYER_CITY,EMPLOYER_STATE,...,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,NAICS_CODE,AGENT_REPRESENTING_EMPLOYER,AGENT_ATTORNEY_ADDRESS1,AGENT_ATTORNEY_ADDRESS2,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,AGENT_ATTORNEY_POSTAL_CODE,AGENT_ATTORNEY_COUNTRY,AGENT_ATTORNEY_PROVINCE,AGENT_ATTORNEY_PHONE,AGENT_ATTORNEY_PHONE_EXT,STATE_OF_HIGHEST_COURT,NAME_OF_HIGHEST_STATE_COURT,WORKSITE_STATE,PREVAILING_WAGE,PW_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,PUBLIC_DISCLOSURE
0,I-200-22356-657078,Certified,2022-12-30,NaN,H-1B,DevOps Engineer II,15-1252.00,Software Developers,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",545 Washington Boulevard,,Jersey City,NJ,...,12014694107,NaN,524298.0,Yes,230 W Monroe Street,Suite 2800,Chicago,IL,60606,UNITED STATES OF AMERICA,NaN,13127226300.0,NaN,NY,NY Court of Appeals,NJ,109283.0,Year,No,No,NaN,NaN,Disclose Business
1,I-200-22356-657600,Certified,2022-12-30,NaN,H-1B,FE Engineer,17-2072.00,"Electronics Engineers, Except Computer",Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,One Apple Park Way,NaN,Cupertino,CA,...,14089742562,NaN,334111.0,Yes,555 Montgomery Street,4TH FLOOR C#6880018,San Francisco,CA,94111,UNITED STATES OF AMERICA,NaN,14159861446.0,NaN,CA,Supreme Court,CA,144248.0,Year,No,No,NaN,NaN,Disclose Business
2,I-200-22356-657298,Certified,2022-12-30,NaN,H-1B,Control Sys Engineer,17-2141.00,Mechanical Engineers,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,5205 N. O'Connor Boulevard,Suite 100,Irving,TX,...,13094942885,NaN,333120.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IL,100443.0,Year,No,No,NaN,NaN,Disclose Business
3,I-200-22356-657871,Certified,2022-12-30,NaN,H-1B,Senior Lecturer,25-1021.00,"Computer Science Teachers, Postsecondary",Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,1225 W Mitchell St,Box 19569,Arlington,TX,...,18172723950,NaN,611310.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TX,47380.0,Year,No,No,NaN,NaN,Disclose Business
4,I-200-22356-657847,Certified,2022-12-30,NaN,H-1B,Principal Payment Tech Development,15-1252.00,Software Developers,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,2500 LAKE COOK ROAD,NaN,Riverwoods,IL,...,12244053726,NaN,522291.0,Yes,1400 Broadway,NaN,New York,NY,10018,UNITED STATES OF AMERICA,NaN,12126888555.0,NaN,NY,Supreme Court,IL,114067.0,Year,No,No,NaN,NaN,Disclose Business
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226910,I-200-18282-647333,CERTIFIED,2018-10-15 22:00:43,NaN,H-1B,DIGITAL TOUCHPOINTS ANALYST,OPERATIONS RESEARCH ANALYSTS,15-2031,Y,10/17/2018,10/17/2021,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,6000 AMERICAN PARKWAY,NaN,MADISON,WI,...,6082424100.0,NaN,524113.0,Y,79 W. MONROE STREET,1312,CHICAGO,IL,60603,UNITED STATES OF AMERICA,NaN,3123409619.0,NaN,SUPREME COURT OF ILLINOIS,ILLINOIS,WI,75733.0,Year,N,N,NaN,NaN,PLACE OF BUSINESS
3226911,I-200-19046-203745,DENIED,2019-02-22 10:45:38,NaN,H-1B,APPLICATIONS CONSULTANT 2,NaN,NaN,Y,2019-08-17 00:00:00,2022-08-16 00:00:00,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,333 WEST WACKER DRIVE,SUITE 300,CHICAGO,IL,...,3123955000.0,NaN,5416.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MICHIGAN,80704.0,Year,Y,N,Y,WAGE,PLACE OF BUSINESS
3226912,I-200-19059-900658,DENIED,2019-03-07 16:07:41,NaN,H-1B,BUSINESS SYSTEMS ANALYST 2,NaN,NaN,Y,2019-08-30 00:00:00,2022-08-29 00:00:00,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,333 WEST WACKER DRIVE,SUITE 300,CHICAGO,IL,...,3123955000.0,NaN,5416.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NEW YORK,74443.0,Year,Y,N,Y,WAGE,PLACE OF BUSINESS
3226913,I-200-19063-784427,DENIED,2019-03-08 12:01:58,NaN,H-1B,APPLICATIONS CONSULTANT 2,NaN,NaN,Y,2019-09-03 00:00:00,2022-09-02 00:00:00,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,333 WEST WACKER DRIVE,SUITE 300,CHICAGO,IL,...,3123955000.0,NaN,5416.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TENNESSEE,75858.0,Year,Y,N,Y,WAGE,PLACE OF BUSINESS
3226914,I-200-19073-908844,DENIED,2019-03-19 11:41:04,NaN,H-1B,BUSINESS SYSTEMS ANALYST 2,NaN,NaN,Y,2019-03-14 00:00:00,2022-03-13 00:00:00,1.0,0,1,0,0.0,0,0,CAPGEMINI AMERICA INC,333 WEST WACKER DRIVE,SUITE 300,CHICAGO,IL,...,3123955000.0,NaN,5416.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISCONSIN,66643.0,Year,Y,N,Y,WAGE,PLACE OF BUSINESS

###As per our intution / Domain Knowledge we'll ommit some columns like :- 
- CASE_NUMBER ( It is the case id which will have have no effect on our prediction)
- DECISION_DATE
- VISA_CLASS ( As we know that we have selected data for H1B Visa only so we have all the field sof H1B only.)
- SOC_CODE ( It is the occupational id which will have have no effect on our prediction)
- EMPLOYER_ADDRESS1 	
- EMPLOYER_ADDRESS2 	
- EMPLOYER_POSTAL_CODE
- EMPLOYER_COUNTRY ( As we know that we have selected data for employers from USA only)
- EMPLOYER_PROVINCE 	
- EMPLOYER_PHONE 	
- EMPLOYER_PHONE_EXT
- NAICS_CODE ( It is the employer id which will have have no effect on our prediction)
- AGENT_ATTORNEY_ADDRESS1 	
- AGENT_ATTORNEY_ADDRESS2 	
- AGENT_ATTORNEY_CITY 	
- AGENT_ATTORNEY_STATE 	
- AGENT_ATTORNEY_POSTAL_CODE 	
- AGENT_ATTORNEY_COUNTRY 	
- AGENT_ATTORNEY_PROVINCE 	
- AGENT_ATTORNEY_PHONE 	
- AGENT_ATTORNEY_PHONE_EXT
- NAME_OF_HIGHEST_STATE_COURT
- PUBLIC_DISCLOSURE

#### Created a list of columns to be dropped

In [37]:
drop_columns = [ 'CASE_NUMBER',  'DECISION_DATE', 'VISA_CLASS',  'SOC_CODE', 'EMPLOYER_ADDRESS1', 'EMPLOYER_ADDRESS2', 'EMPLOYER_POSTAL_CODE', 
                'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE', 'EMPLOYER_PHONE_EXT', 'NAICS_CODE', 'AGENT_ATTORNEY_ADDRESS1', 
                'AGENT_ATTORNEY_ADDRESS2', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE', 'AGENT_ATTORNEY_POSTAL_CODE', 'AGENT_ATTORNEY_COUNTRY', 
                'AGENT_ATTORNEY_PROVINCE', 'AGENT_ATTORNEY_PHONE', 'AGENT_ATTORNEY_PHONE_EXT', 'NAME_OF_HIGHEST_STATE_COURT', 'PUBLIC_DISCLOSURE']

In [38]:
final_dataset = final_dataset.drop(drop_columns, axis = 1)
final_dataset

,CASE_STATUS,ORIGINAL_CERT_DATE,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,STATE_OF_HIGHEST_COURT,WORKSITE_STATE,PREVAILING_WAGE,PW_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS
0,Certified,NaN,DevOps Engineer II,Software Developers,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Yes,NY,NJ,109283.0,Year,No,No,NaN,NaN
1,Certified,NaN,FE Engineer,"Electronics Engineers, Except Computer",Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,Cupertino,CA,Yes,CA,CA,144248.0,Year,No,No,NaN,NaN
2,Certified,NaN,Control Sys Engineer,Mechanical Engineers,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,Irving,TX,No,NaN,IL,100443.0,Year,No,No,NaN,NaN
3,Certified,NaN,Senior Lecturer,"Computer Science Teachers, Postsecondary",Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,Arlington,TX,No,NaN,TX,47380.0,Year,No,No,NaN,NaN
4,Certified,NaN,Principal Payment Tech Development,Software Developers,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,Riverwoods,IL,Yes,NY,IL,114067.0,Year,No,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226910,CERTIFIED,NaN,DIGITAL TOUCHPOINTS ANALYST,15-2031,Y,10/17/2018,10/17/2021,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,SUPREME COURT OF ILLINOIS,WI,75733.0,Year,N,N,NaN,NaN
3226911,DENIED,NaN,APPLICATIONS CONSULTANT 2,NaN,Y,2019-08-17 00:00:00,2022-08-16 00:00:00,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,NaN,MICHIGAN,80704.0,Year,Y,N,Y,WAGE
3226912,DENIED,NaN,BUSINESS SYSTEMS ANALYST 2,NaN,Y,2019-08-30 00:00:00,2022-08-29 00:00:00,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,NaN,NEW YORK,74443.0,Year,Y,N,Y,WAGE
3226913,DENIED,NaN,APPLICATIONS CONSULTANT 2,NaN,Y,2019-09-03 00:00:00,2022-09-02 00:00:00,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,NaN,TENNESSEE,75858.0,Year,Y,N,Y,WAGE
3226914,DENIED,NaN,BUSINESS SYSTEMS ANALYST 2,NaN,Y,2019-03-14 00:00:00,2022-03-13 00:00:00,1.0,0,1,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,NaN,NaN,WISCONSIN,66643.0,Year,Y,N,Y,WAGE

In [39]:
final_dataset.isna().sum()

CASE_STATUS                          0
ORIGINAL_CERT_DATE             3081570
JOB_TITLE                            2
SOC_TITLE                            4
FULL_TIME_POSITION                   0
EMPLOYMENT_START_DATE                0
EMPLOYMENT_END_DATE                  0
TOTAL_WORKER_POSITIONS               2
NEW_EMPLOYMENT                       0
CONTINUED_EMPLOYMENT                 0
CHANGE_PREVIOUS_EMPLOYMENT           0
NEW_CONCURRENT_EMPLOYMENT            1
CHANGE_EMPLOYER                      0
AMENDED_PETITION                     0
EMPLOYER_NAME                       12
EMPLOYER_CITY                        3
EMPLOYER_STATE                       0
AGENT_REPRESENTING_EMPLOYER          6
STATE_OF_HIGHEST_COURT          916136
WORKSITE_STATE                      16
PREVAILING_WAGE                   6811
PW_UNIT_OF_PAY                    6811
H1B_DEPENDENT                   330186
WILLFUL_VIOLATOR                    22
SUPPORT_H1B                    2221090
STATUTORY_BASIS                2248689
dtype: int64

### As we can see above that we can conclude that we can remove :-  
- ORIGINAL_CERT_DATE
- STATE_OF_HIGHEST_COURT
- SUPPORT_H1B
- STATUTORY_BASIS

columns as these columns have very high amount of NA Values

but since H1B_DEPENDENT column seems important to me i'll keep it in my dataset and deal with its NA Values.

In [40]:
final_dataset = final_dataset.drop([
    'ORIGINAL_CERT_DATE',
    'STATE_OF_HIGHEST_COURT',
    'SUPPORT_H1B',
    'STATUTORY_BASIS',], axis = 1)
# pd.options.display.max_rows = 30
final_dataset

,CASE_STATUS,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,PW_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR
0,Certified,DevOps Engineer II,Software Developers,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Yes,NJ,109283.0,Year,No,No
1,Certified,FE Engineer,"Electronics Engineers, Except Computer",Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,Cupertino,CA,Yes,CA,144248.0,Year,No,No
2,Certified,Control Sys Engineer,Mechanical Engineers,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,Irving,TX,No,IL,100443.0,Year,No,No
3,Certified,Senior Lecturer,"Computer Science Teachers, Postsecondary",Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,Arlington,TX,No,TX,47380.0,Year,No,No
4,Certified,Principal Payment Tech Development,Software Developers,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,Riverwoods,IL,Yes,IL,114067.0,Year,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,15-2031,Y,10/17/2018,10/17/2021,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733.0,Year,N,N
3226911,DENIED,APPLICATIONS CONSULTANT 2,NaN,Y,2019-08-17 00:00:00,2022-08-16 00:00:00,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,MICHIGAN,80704.0,Year,Y,N
3226912,DENIED,BUSINESS SYSTEMS ANALYST 2,NaN,Y,2019-08-30 00:00:00,2022-08-29 00:00:00,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,NEW YORK,74443.0,Year,Y,N
3226913,DENIED,APPLICATIONS CONSULTANT 2,NaN,Y,2019-09-03 00:00:00,2022-09-02 00:00:00,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,TENNESSEE,75858.0,Year,Y,N
3226914,DENIED,BUSINESS SYSTEMS ANALYST 2,NaN,Y,2019-03-14 00:00:00,2022-03-13 00:00:00,1.0,0,1,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,NaN,WISCONSIN,66643.0,Year,Y,N

### Checking CASE_STATUS Column

In [41]:
final_dataset['CASE_STATUS'].value_counts()

CASE_STATUS
Certified                2420707
CERTIFIED                 578611
Certified - Withdrawn     124092
Withdrawn                  48192
CERTIFIED-WITHDRAWN        21251
WITHDRAWN                  16442
Denied                     12457
DENIED                      5163
Name: count, dtype: int64

### As we can see we've same categories in lowercase and uppercase . Converting all of them into Uppercase.

In [42]:
final_dataset['CASE_STATUS'] = final_dataset['CASE_STATUS'].apply(lambda x : x.upper())
final_dataset['CASE_STATUS'].value_counts()

CASE_STATUS
CERTIFIED                2999318
CERTIFIED - WITHDRAWN     124092
WITHDRAWN                  64634
CERTIFIED-WITHDRAWN        21251
DENIED                     17620
Name: count, dtype: int64

#### Correcting name of CERTIFIED-WITHDRAWN so that they can also combine into 1 category.

In [43]:
final_dataset['CASE_STATUS'] = final_dataset['CASE_STATUS'].apply(lambda x : 'CERTIFIED - WITHDRAWN' if x == 'CERTIFIED-WITHDRAWN' else x)
final_dataset['CASE_STATUS'].value_counts()

CASE_STATUS
CERTIFIED                2999318
CERTIFIED - WITHDRAWN     145343
WITHDRAWN                  64634
DENIED                     17620
Name: count, dtype: int64

### Checking FULL_TIME_POSITION column

In [44]:
final_dataset['FULL_TIME_POSITION'].value_counts()

FULL_TIME_POSITION
Y    3176633
N      50282
Name: count, dtype: int64

#### So we need not to make any changes to this column

#### Correcting Employment start and end date format

In [45]:
final_dataset['EMPLOYMENT_START_DATE'] = pd.to_datetime(final_dataset['EMPLOYMENT_START_DATE'], format = 'mixed')
# As we have different date formats in our dataframe like 17/10/2018, 2023-03-18, 2019-08-17 00:00:00, We have used format = mixed so that pandas 
# automatically infers each date individually and then convert its format.

final_dataset['EMPLOYMENT_END_DATE'] = pd.to_datetime(final_dataset['EMPLOYMENT_END_DATE'], format = 'mixed')

print(f"null Values in Employment Start Date column = {final_dataset['EMPLOYMENT_START_DATE'].isna().sum()}")
print(f"null Values in Employment End Date column = {final_dataset['EMPLOYMENT_END_DATE'].isna().sum()}")

final_dataset

null Values in Employment Start Date column = 0
null Values in Employment End Date column = 0

,CASE_STATUS,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,PW_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR
0,CERTIFIED,DevOps Engineer II,Software Developers,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Yes,NJ,109283.0,Year,No,No
1,CERTIFIED,FE Engineer,"Electronics Engineers, Except Computer",Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,Cupertino,CA,Yes,CA,144248.0,Year,No,No
2,CERTIFIED,Control Sys Engineer,Mechanical Engineers,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,Irving,TX,No,IL,100443.0,Year,No,No
3,CERTIFIED,Senior Lecturer,"Computer Science Teachers, Postsecondary",Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,Arlington,TX,No,TX,47380.0,Year,No,No
4,CERTIFIED,Principal Payment Tech Development,Software Developers,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,Riverwoods,IL,Yes,IL,114067.0,Year,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,15-2031,Y,2018-10-17,2021-10-17,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733.0,Year,N,N
3226911,DENIED,APPLICATIONS CONSULTANT 2,NaN,Y,2019-08-17,2022-08-16,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,MICHIGAN,80704.0,Year,Y,N
3226912,DENIED,BUSINESS SYSTEMS ANALYST 2,NaN,Y,2019-08-30,2022-08-29,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,NEW YORK,74443.0,Year,Y,N
3226913,DENIED,APPLICATIONS CONSULTANT 2,NaN,Y,2019-09-03,2022-09-02,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,TENNESSEE,75858.0,Year,Y,N
3226914,DENIED,BUSINESS SYSTEMS ANALYST 2,NaN,Y,2019-03-14,2022-03-13,1.0,0,1,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,NaN,WISCONSIN,66643.0,Year,Y,N

### Extracting Year from given Start and End date columns

In [46]:
# Extract the year and create a new column
final_dataset['EMPLOYMENT_START_YEAR'] = final_dataset['EMPLOYMENT_START_DATE'].dt.year.astype('Int16')
final_dataset['EMPLOYMENT_END_YEAR'] = final_dataset['EMPLOYMENT_END_DATE'].dt.year.astype('Int16')
# Convert the year column to integer type (keeping NaN values)
# final_dataset['EMPLOYMENT_START_YEAR'] = final_dataset['EMPLOYMENT_START_YEAR'].astype('Int64')

final_dataset

,CASE_STATUS,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,PW_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYMENT_START_YEAR,EMPLOYMENT_END_YEAR
0,CERTIFIED,DevOps Engineer II,Software Developers,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Yes,NJ,109283.0,Year,No,No,2023,2026
1,CERTIFIED,FE Engineer,"Electronics Engineers, Except Computer",Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,Cupertino,CA,Yes,CA,144248.0,Year,No,No,2023,2026
2,CERTIFIED,Control Sys Engineer,Mechanical Engineers,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,Irving,TX,No,IL,100443.0,Year,No,No,2023,2026
3,CERTIFIED,Senior Lecturer,"Computer Science Teachers, Postsecondary",Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,Arlington,TX,No,TX,47380.0,Year,No,No,2023,2026
4,CERTIFIED,Principal Payment Tech Development,Software Developers,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,Riverwoods,IL,Yes,IL,114067.0,Year,No,No,2023,2026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,15-2031,Y,2018-10-17,2021-10-17,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733.0,Year,N,N,2018,2021
3226911,DENIED,APPLICATIONS CONSULTANT 2,NaN,Y,2019-08-17,2022-08-16,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,MICHIGAN,80704.0,Year,Y,N,2019,2022
3226912,DENIED,BUSINESS SYSTEMS ANALYST 2,NaN,Y,2019-08-30,2022-08-29,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,NEW YORK,74443.0,Year,Y,N,2019,2022
3226913,DENIED,APPLICATIONS CONSULTANT 2,NaN,Y,2019-09-03,2022-09-02,1.0,1,0,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,N,TENNESSEE,75858.0,Year,Y,N,2019,2022
3226914,DENIED,BUSINESS SYSTEMS ANALYST 2,NaN,Y,2019-03-14,2022-03-13,1.0,0,1,0,0.0,0,0,CAPGEMINI AMERICA INC,CHICAGO,IL,NaN,WISCONSIN,66643.0,Year,Y,N,2019,2022

#### Now we need to convert given SOC_TITLE into categories by keeping occupation of similar type into a particular occupation category

In [47]:
final_dataset = final_dataset[final_dataset['SOC_TITLE'].notnull()]
final_dataset.isna().sum()

CASE_STATUS                         0
JOB_TITLE                           2
SOC_TITLE                           0
FULL_TIME_POSITION                  0
EMPLOYMENT_START_DATE               0
EMPLOYMENT_END_DATE                 0
TOTAL_WORKER_POSITIONS              2
NEW_EMPLOYMENT                      0
CONTINUED_EMPLOYMENT                0
CHANGE_PREVIOUS_EMPLOYMENT          0
NEW_CONCURRENT_EMPLOYMENT           1
CHANGE_EMPLOYER                     0
AMENDED_PETITION                    0
EMPLOYER_NAME                      12
EMPLOYER_CITY                       3
EMPLOYER_STATE                      0
AGENT_REPRESENTING_EMPLOYER         5
WORKSITE_STATE                     16
PREVAILING_WAGE                  6811
PW_UNIT_OF_PAY                   6811
H1B_DEPENDENT                  330186
WILLFUL_VIOLATOR                   22
EMPLOYMENT_START_YEAR               0
EMPLOYMENT_END_YEAR                 0
dtype: int64

In [48]:
final_dataset['SOC_TITLE'] = final_dataset['SOC_TITLE'].apply(lambda x : x.lower().strip())
final_dataset['SOC_TITLE']

0                               software developers
1            electronics engineers, except computer
2                              mechanical engineers
3          computer science teachers, postsecondary
4                               software developers
                             ...
3226906                   transportation inspectors
3226907                   transportation inspectors
3226908                   crane and tower operators
3226909                   crane and tower operators
3226910                                     15-2031
Name: SOC_TITLE, Length: 3226911, dtype: object

In [49]:
final_dataset['OCCUPATION'] = 'others'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('computer')] = 'IT'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('software')] = 'IT'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('developers')] = 'IT'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('web')] = 'IT'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('graphic')] = 'IT'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('mechanical')] = 'MECHANICAL ENGINEERS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('electrical')] = 'ELECTRICAL ENGINEERS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('electronics')] = 'ELECTRONICS ENGINEERS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('industrial')] = 'INDUSTRIAL ENGINEERS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('environmental')] = 'ENVIRONMENTAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('civil')] = 'CIVIL ENGINEERS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('chemical')] = 'CHEMICAL ENGINEERS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('material')] = 'MATERIAL ENGINEERS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('database')] = 'DATA'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('data')] = 'DATA'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('data scientists')] = 'DATA'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('spark')] = 'DATA'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('hadoop')] = 'DATA'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('data engineer')] = 'DATA'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('analysis')] = 'ANALYSTS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('analysts')] = 'ANALYSTS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('statisticians')] = 'ANALYSTS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('machine learning')] = 'AI'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('artificial intelligence')] = 'AI'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('sales')] = 'SALES-MARKETING'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('market')] = 'SALES-MARKETING'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('promotion')] = 'SALES-MARKETING'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('market research')] = 'SALES-MARKETING'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('finance')] = 'FINANCE'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('accountant')] = 'FINANCE'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('financial')] = 'FINANCE'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('public','fundraising')] = 'PUBLIC RELATIONS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('education','law')] = 'ADMINISTRATIVE'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('auditors','compliance')] = 'AUDIT'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('distribution','logistics')] = 'LOGISTICS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('logisticians')] = 'LOGISTICS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('human resources')] = 'HR'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('agricultural | farm | farmworkers | crop')] = 'AGRO'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('forencsic')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('health ')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('pediatricians')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('doctor')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('medical')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('dentists')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('psychiatrists')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('physical therapists')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('surgeons')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('nurse')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('medical scientists')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('anesthesiologists')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('cardiologists')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('healthcare ')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('physicians')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('radiologists')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('neurologists')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('pathologists')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('rehabilitation counselors')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('epidemiologists')] = 'MEDICAL'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('chemists')] = 'PHARMACY'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('pharmacists')] = 'PHARMACY'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('teachers')] = 'EDUCATION'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('robotics')] = 'MECHATRONICS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('mechatronics')] = 'MECHATRONICS'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('lawyers')] = 'LAW'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('paralegals')] = 'LAW'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('legal')] = 'LAW'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('judicial')] = 'LAW'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('chief')] = 'MANAGER'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('management')] = 'MANAGER'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('manager')] = 'MANAGER'
final_dataset['OCCUPATION'][final_dataset['SOC_TITLE'].str.contains('managers')] = 'MANAGER'

In [50]:
final_dataset['OCCUPATION'].value_counts()

OCCUPATION
IT                       1666166
ANALYSTS                  401724
MANAGER                   255557
others                    172990
MEDICAL                   114941
EDUCATION                  83859
DATA                       76365
FINANCE                    71917
MECHANICAL ENGINEERS       59320
ELECTRONICS ENGINEERS      45573
AUDIT                      45526
ELECTRICAL ENGINEERS       42925
SALES-MARKETING            38305
INDUSTRIAL ENGINEERS       33997
PHARMACY                   33322
CIVIL ENGINEERS            25464
MATERIAL ENGINEERS         12864
LAW                        11748
LOGISTICS                   6997
CHEMICAL ENGINEERS          6481
ENVIRONMENTAL               4727
HR                          4539
MECHATRONICS                3801
ADMINISTRATIVE              3269
PUBLIC RELATIONS            2964
AGRO                        1570
Name: count, dtype: int64

#### We have categorised SOC_TITLE into respective occupations.

In [51]:
final_dataset

,CASE_STATUS,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,PW_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYMENT_START_YEAR,EMPLOYMENT_END_YEAR,OCCUPATION
0,CERTIFIED,DevOps Engineer II,software developers,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Yes,NJ,109283.0,Year,No,No,2023,2026,IT
1,CERTIFIED,FE Engineer,"electronics engineers, except computer",Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,Cupertino,CA,Yes,CA,144248.0,Year,No,No,2023,2026,ELECTRONICS ENGINEERS
2,CERTIFIED,Control Sys Engineer,mechanical engineers,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,Irving,TX,No,IL,100443.0,Year,No,No,2023,2026,MECHANICAL ENGINEERS
3,CERTIFIED,Senior Lecturer,"computer science teachers, postsecondary",Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,Arlington,TX,No,TX,47380.0,Year,No,No,2023,2026,EDUCATION
4,CERTIFIED,Principal Payment Tech Development,software developers,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,Riverwoods,IL,Yes,IL,114067.0,Year,No,No,2023,2026,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226906,CERTIFIED,PETROLEUM INSPECTOR,transportation inspectors,Y,2019-09-19,2022-09-18,1.0,0,1,0,0.0,0,0,AMSPEC LLC,CRANBURY,NJ,Y,LOUISIANA,56992.0,Year,N,N,2019,2022,others
3226907,CERTIFIED,INSPECTOR V,transportation inspectors,Y,2019-10-25,2022-10-24,1.0,0,1,0,0.0,0,0,"INTERTEK USA, INC",CORTLAND,NY,Y,LOUISIANA,58011.0,Year,N,N,2019,2022,others
3226908,DENIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,crane and tower operators,Y,2019-10-01,2021-09-30,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,Year,N,N,2019,2021,others
3226909,CERTIFIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,crane and tower operators,Y,2019-11-01,2022-10-31,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,Year,N,N,2019,2022,others
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,15-2031,Y,2018-10-17,2021-10-17,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733.0,Year,N,N,2018,2021,others

In [52]:
final_dataset['OCCUPATION'][final_dataset.FULL_TIME_POSITION == 'Y'].value_counts()

OCCUPATION
IT                       1655188
ANALYSTS                  398604
MANAGER                   251402
others                    165106
MEDICAL                   108477
EDUCATION                  80250
DATA                       75512
FINANCE                    69393
MECHANICAL ENGINEERS       57897
ELECTRONICS ENGINEERS      45410
AUDIT                      43391
ELECTRICAL ENGINEERS       42422
SALES-MARKETING            36515
INDUSTRIAL ENGINEERS       33513
PHARMACY                   32634
CIVIL ENGINEERS            24935
MATERIAL ENGINEERS         12668
LAW                        10577
LOGISTICS                   6761
CHEMICAL ENGINEERS          6334
ENVIRONMENTAL               4596
HR                          4315
MECHATRONICS                3758
ADMINISTRATIVE              2932
PUBLIC RELATIONS            2529
AGRO                        1510
Name: count, dtype: int64

In [53]:
final_dataset['OCCUPATION'][final_dataset.FULL_TIME_POSITION == 'N'].value_counts()

OCCUPATION
IT                       10978
others                    7884
MEDICAL                   6464
MANAGER                   4155
EDUCATION                 3609
ANALYSTS                  3120
FINANCE                   2524
AUDIT                     2135
SALES-MARKETING           1790
MECHANICAL ENGINEERS      1423
LAW                       1171
DATA                       853
PHARMACY                   688
CIVIL ENGINEERS            529
ELECTRICAL ENGINEERS       503
INDUSTRIAL ENGINEERS       484
PUBLIC RELATIONS           435
ADMINISTRATIVE             337
LOGISTICS                  236
HR                         224
MATERIAL ENGINEERS         196
ELECTRONICS ENGINEERS      163
CHEMICAL ENGINEERS         147
ENVIRONMENTAL              131
AGRO                        60
MECHATRONICS                43
Name: count, dtype: int64

### Converting prevailing wages to hours and years and their unit of pays.

In [54]:
final_dataset["PREVAILING_WAGE"].isna().sum()

6811

In [55]:
final_dataset["PW_UNIT_OF_PAY"].value_counts()

PW_UNIT_OF_PAY
Year         3026169
Hour          191315
Month           1781
Bi-Weekly        476
Week             359
Name: count, dtype: int64

In [56]:
final_dataset["PW_UNIT_OF_PAY"].isna().sum()

6811

In [57]:
final_dataset["FULL_TIME_POSITION"].value_counts()

FULL_TIME_POSITION
Y    3176629
N      50282
Name: count, dtype: int64

In [58]:
final_dataset["FULL_TIME_POSITION"].isna().sum()

0

In [59]:
import pandas as pd
import numpy as np

def convert_wage(row):
    if pd.isna(row['PREVAILING_WAGE']):
        return np.nan  # Keep NA values as they are
    
    wage = row['PREVAILING_WAGE']
    unit = row['PW_UNIT_OF_PAY']
    full_time = row['FULL_TIME_POSITION']
    
    if unit == 'Hour':
        if full_time == 'Y':
            return wage * 40 * 48  # Full-time Hourly to yearly considerin 40 hour work week and 48 woking weeks in an year
        else:
            return wage * 20 * 48  # Part-time Hourly to yearly considering 20 hour work week and 48 working weeks in an year.
    elif unit == 'Week':
        return wage * 48  # Considering 48 hours work week in an year
        
    elif unit == 'Bi-Weekly':
        return wage * 24  # Considering 48 work weeks in an year
        
    elif unit == 'Month':
        return wage * 12  # Monthly to yearly
    elif unit == 'Year':
        return wage  # Yearly remains the same
    else:
        return np.nan  # In case of an unexpected unit

def convert_unit_to_year(row):
    unit = row['PW_UNIT_OF_PAY']
    
    if unit == 'Hour':
        return 'Year'  # Keep Hour as is
    elif unit == 'Week':
        return 'Year'  # Convert Week to Year
    elif unit == 'Bi-Weekly':
        return 'Year'  # Convert Bi-Weekly to Year
    elif unit == 'Month':
        return 'Year'  # Convert Month to Year
    elif unit == 'Year':
        return 'Year'  # Already in Year
    else:
        return np.nan  # In case of an unexpected unit

# Assuming final_dataset is your DataFrame
final_dataset['PREVAILING_WAGE'] = final_dataset.apply(convert_wage, axis=1)
final_dataset['PW_UNIT_OF_PAY'] = final_dataset.apply(convert_unit_to_year, axis=1)

In [60]:
# Display the updated DataFrame with the modified PREVAILING_WAGE and new UPDATED_PW_UNIT_OF_PAY columns
final_dataset[['PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'FULL_TIME_POSITION']]

         PREVAILING_WAGE PW_UNIT_OF_PAY FULL_TIME_POSITION
0               109283.0           Year                  Y
1               144248.0           Year                  Y
2               100443.0           Year                  Y
3                47380.0           Year                  Y
4               114067.0           Year                  Y
...                  ...            ...                ...
3226906          56992.0           Year                  Y
3226907          58011.0           Year                  Y
3226908          65645.0           Year                  Y
3226909          65645.0           Year                  Y
3226910          75733.0           Year                  Y

[3226911 rows x 3 columns]

In [61]:
final_dataset['PW_UNIT_OF_PAY'].unique()

array(['Year', nan], dtype=object)

In [62]:
final_dataset

,CASE_STATUS,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,PW_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYMENT_START_YEAR,EMPLOYMENT_END_YEAR,OCCUPATION
0,CERTIFIED,DevOps Engineer II,software developers,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Yes,NJ,109283.0,Year,No,No,2023,2026,IT
1,CERTIFIED,FE Engineer,"electronics engineers, except computer",Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,Cupertino,CA,Yes,CA,144248.0,Year,No,No,2023,2026,ELECTRONICS ENGINEERS
2,CERTIFIED,Control Sys Engineer,mechanical engineers,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,Irving,TX,No,IL,100443.0,Year,No,No,2023,2026,MECHANICAL ENGINEERS
3,CERTIFIED,Senior Lecturer,"computer science teachers, postsecondary",Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,Arlington,TX,No,TX,47380.0,Year,No,No,2023,2026,EDUCATION
4,CERTIFIED,Principal Payment Tech Development,software developers,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,Riverwoods,IL,Yes,IL,114067.0,Year,No,No,2023,2026,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226906,CERTIFIED,PETROLEUM INSPECTOR,transportation inspectors,Y,2019-09-19,2022-09-18,1.0,0,1,0,0.0,0,0,AMSPEC LLC,CRANBURY,NJ,Y,LOUISIANA,56992.0,Year,N,N,2019,2022,others
3226907,CERTIFIED,INSPECTOR V,transportation inspectors,Y,2019-10-25,2022-10-24,1.0,0,1,0,0.0,0,0,"INTERTEK USA, INC",CORTLAND,NY,Y,LOUISIANA,58011.0,Year,N,N,2019,2022,others
3226908,DENIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,crane and tower operators,Y,2019-10-01,2021-09-30,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,Year,N,N,2019,2021,others
3226909,CERTIFIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,crane and tower operators,Y,2019-11-01,2022-10-31,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,Year,N,N,2019,2022,others
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,15-2031,Y,2018-10-17,2021-10-17,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733.0,Year,N,N,2018,2021,others

### Saving this dataset into a csv to save time and resources for further pre-processing

In [63]:
preprocessed_dataset_path = r'D:\H1B project\Final_dataset\preprocessed_dataset1.csv'

final_dataset.to_csv(preprocessed_dataset_path, index = False)