In [38]:
import numpy as np
import pandas as pd
import os

In [39]:
import warnings
warnings.filterwarnings(action = 'ignore')

### Load the data

In [40]:
preprocessed_dataset1_path = r'D:\H1B project\Final_dataset'
preprocessed_data1= pd.read_csv(os.path.join(preprocessed_dataset1_path, 'preprocessed_dataset1.csv'))
preprocessed_data1

,CASE_STATUS,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,PW_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYMENT_START_YEAR,EMPLOYMENT_END_YEAR,OCCUPATION
0,CERTIFIED,DevOps Engineer II,software developers,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Yes,NJ,109283.0,Year,No,No,2023,2026,IT
1,CERTIFIED,FE Engineer,"electronics engineers, except computer",Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,Cupertino,CA,Yes,CA,144248.0,Year,No,No,2023,2026,ELECTRONICS ENGINEERS
2,CERTIFIED,Control Sys Engineer,mechanical engineers,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,Irving,TX,No,IL,100443.0,Year,No,No,2023,2026,MECHANICAL ENGINEERS
3,CERTIFIED,Senior Lecturer,"computer science teachers, postsecondary",Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,Arlington,TX,No,TX,47380.0,Year,No,No,2023,2026,EDUCATION
4,CERTIFIED,Principal Payment Tech Development,software developers,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,Riverwoods,IL,Yes,IL,114067.0,Year,No,No,2023,2026,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226906,CERTIFIED,PETROLEUM INSPECTOR,transportation inspectors,Y,2019-09-19,2022-09-18,1.0,0,1,0,0.0,0,0,AMSPEC LLC,CRANBURY,NJ,Y,LOUISIANA,56992.0,Year,N,N,2019,2022,others
3226907,CERTIFIED,INSPECTOR V,transportation inspectors,Y,2019-10-25,2022-10-24,1.0,0,1,0,0.0,0,0,"INTERTEK USA, INC",CORTLAND,NY,Y,LOUISIANA,58011.0,Year,N,N,2019,2022,others
3226908,DENIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,crane and tower operators,Y,2019-10-01,2021-09-30,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,Year,N,N,2019,2021,others
3226909,CERTIFIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,crane and tower operators,Y,2019-11-01,2022-10-31,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,Year,N,N,2019,2022,others
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,15-2031,Y,2018-10-17,2021-10-17,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733.0,Year,N,N,2018,2021,others

#### We can remove SOC_TITLE Column becuase we've categorized it into Occupations column. 
#### But we'll keep JOB TITLE column to save it in a CSV file for data analysis on tableau and remove it later on.
#### We'll also remove PW_UNIT_OF_PAY column as all the prevailing wages are converted to yearly payments

In [41]:
preprocessed_data1.drop(['SOC_TITLE', 'PW_UNIT_OF_PAY'], axis = 1, inplace = True)

### Check for NA values

In [42]:
preprocessed_data1.isna().sum()

CASE_STATUS                         0
JOB_TITLE                           2
FULL_TIME_POSITION                  0
EMPLOYMENT_START_DATE               0
EMPLOYMENT_END_DATE                 0
TOTAL_WORKER_POSITIONS              2
NEW_EMPLOYMENT                      0
CONTINUED_EMPLOYMENT                0
CHANGE_PREVIOUS_EMPLOYMENT          0
NEW_CONCURRENT_EMPLOYMENT           1
CHANGE_EMPLOYER                     0
AMENDED_PETITION                    0
EMPLOYER_NAME                      12
EMPLOYER_CITY                       3
EMPLOYER_STATE                      0
AGENT_REPRESENTING_EMPLOYER         5
WORKSITE_STATE                     16
PREVAILING_WAGE                  6811
H1B_DEPENDENT                  330186
WILLFUL_VIOLATOR                   22
EMPLOYMENT_START_YEAR               0
EMPLOYMENT_END_YEAR                 0
OCCUPATION                          0
dtype: int64

#### Filling H1B_DEPENDENT, WILLFUL_VIOLATOR, WORKSITE_STATE, AGENT_REPRESENTING_EMPLOYER Column with mode of Values

In [43]:
# preprocessed_data1["H1B_DEPENDENT"].fillna(preprocessed_data1["H1B_DEPENDENT"].mode()[0], inplace = True)
preprocessed_data1["WILLFUL_VIOLATOR"].fillna(preprocessed_data1["WILLFUL_VIOLATOR"].mode()[0], inplace = True)
preprocessed_data1["WORKSITE_STATE"].fillna(preprocessed_data1["WORKSITE_STATE"].mode()[0], inplace = True)
preprocessed_data1["AGENT_REPRESENTING_EMPLOYER"].fillna(preprocessed_data1["AGENT_REPRESENTING_EMPLOYER"].mode()[0], inplace = True)
preprocessed_data1["NEW_CONCURRENT_EMPLOYMENT"].fillna(preprocessed_data1["NEW_CONCURRENT_EMPLOYMENT"].mode()[0], inplace = True)
preprocessed_data1["JOB_TITLE"].fillna(preprocessed_data1["JOB_TITLE"].mode()[0], inplace = True)

#### Filling NA values in PREVAILING_WAGE column with mean

In [44]:
preprocessed_data1["PREVAILING_WAGE"].fillna(preprocessed_data1["PREVAILING_WAGE"].mean(), inplace = True)
preprocessed_data1["TOTAL_WORKER_POSITIONS"].fillna(preprocessed_data1["TOTAL_WORKER_POSITIONS"].mean(), inplace = True)

In [45]:
## To keep the changes in the same dataframe
preprocessed_data1.dropna(subset = ['EMPLOYER_NAME', 'EMPLOYER_CITY', 'H1B_DEPENDENT'],inplace = True)

In [46]:
preprocessed_data1.isna().sum()

CASE_STATUS                    0
JOB_TITLE                      0
FULL_TIME_POSITION             0
EMPLOYMENT_START_DATE          0
EMPLOYMENT_END_DATE            0
TOTAL_WORKER_POSITIONS         0
NEW_EMPLOYMENT                 0
CONTINUED_EMPLOYMENT           0
CHANGE_PREVIOUS_EMPLOYMENT     0
NEW_CONCURRENT_EMPLOYMENT      0
CHANGE_EMPLOYER                0
AMENDED_PETITION               0
EMPLOYER_NAME                  0
EMPLOYER_CITY                  0
EMPLOYER_STATE                 0
AGENT_REPRESENTING_EMPLOYER    0
WORKSITE_STATE                 0
PREVAILING_WAGE                0
H1B_DEPENDENT                  0
WILLFUL_VIOLATOR               0
EMPLOYMENT_START_YEAR          0
EMPLOYMENT_END_YEAR            0
OCCUPATION                     0
dtype: int64

In [47]:
preprocessed_data1

,CASE_STATUS,JOB_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYMENT_START_YEAR,EMPLOYMENT_END_YEAR,OCCUPATION
0,CERTIFIED,DevOps Engineer II,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Yes,NJ,109283.0,No,No,2023,2026,IT
1,CERTIFIED,FE Engineer,Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,Cupertino,CA,Yes,CA,144248.0,No,No,2023,2026,ELECTRONICS ENGINEERS
2,CERTIFIED,Control Sys Engineer,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,Irving,TX,No,IL,100443.0,No,No,2023,2026,MECHANICAL ENGINEERS
3,CERTIFIED,Senior Lecturer,Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,Arlington,TX,No,TX,47380.0,No,No,2023,2026,EDUCATION
4,CERTIFIED,Principal Payment Tech Development,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,Riverwoods,IL,Yes,IL,114067.0,No,No,2023,2026,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226906,CERTIFIED,PETROLEUM INSPECTOR,Y,2019-09-19,2022-09-18,1.0,0,1,0,0.0,0,0,AMSPEC LLC,CRANBURY,NJ,Y,LOUISIANA,56992.0,N,N,2019,2022,others
3226907,CERTIFIED,INSPECTOR V,Y,2019-10-25,2022-10-24,1.0,0,1,0,0.0,0,0,"INTERTEK USA, INC",CORTLAND,NY,Y,LOUISIANA,58011.0,N,N,2019,2022,others
3226908,DENIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-10-01,2021-09-30,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,N,N,2019,2021,others
3226909,CERTIFIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-11-01,2022-10-31,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,N,N,2019,2022,others
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,Y,2018-10-17,2021-10-17,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733.0,N,N,2018,2021,others

### Correcting Data Type of every column

In [48]:
preprocessed_data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2896711 entries, 0 to 3226910
Data columns (total 23 columns):
 #   Column                       Dtype
---  ------                       -----
 0   CASE_STATUS                  object
 1   JOB_TITLE                    object
 2   FULL_TIME_POSITION           object
 3   EMPLOYMENT_START_DATE        object
 4   EMPLOYMENT_END_DATE          object
 5   TOTAL_WORKER_POSITIONS       float64
 6   NEW_EMPLOYMENT               object
 7   CONTINUED_EMPLOYMENT         object
 8   CHANGE_PREVIOUS_EMPLOYMENT   int64
 9   NEW_CONCURRENT_EMPLOYMENT    float64
 10  CHANGE_EMPLOYER              int64
 11  AMENDED_PETITION             int64
 12  EMPLOYER_NAME                object
 13  EMPLOYER_CITY                object
 14  EMPLOYER_STATE               object
 15  AGENT_REPRESENTING_EMPLOYER  object
 16  WORKSITE_STATE               object
 17  PREVAILING_WAGE              float64
 18  H1B_DEPENDENT                object
 19  WILLFUL_VIOLATOR             object
 20  EMPLOYMENT_START_YEAR        int64
 21  EMPLOYMENT_END_YEAR          int64
 22  OCCUPATION                   object
dtypes: float64(3), int64(5), object(15)
memory usage: 530.4+ MB

In [49]:
preprocessed_data1

,CASE_STATUS,JOB_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYMENT_START_YEAR,EMPLOYMENT_END_YEAR,OCCUPATION
0,CERTIFIED,DevOps Engineer II,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Yes,NJ,109283.0,No,No,2023,2026,IT
1,CERTIFIED,FE Engineer,Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,Cupertino,CA,Yes,CA,144248.0,No,No,2023,2026,ELECTRONICS ENGINEERS
2,CERTIFIED,Control Sys Engineer,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,Irving,TX,No,IL,100443.0,No,No,2023,2026,MECHANICAL ENGINEERS
3,CERTIFIED,Senior Lecturer,Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,Arlington,TX,No,TX,47380.0,No,No,2023,2026,EDUCATION
4,CERTIFIED,Principal Payment Tech Development,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,Riverwoods,IL,Yes,IL,114067.0,No,No,2023,2026,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226906,CERTIFIED,PETROLEUM INSPECTOR,Y,2019-09-19,2022-09-18,1.0,0,1,0,0.0,0,0,AMSPEC LLC,CRANBURY,NJ,Y,LOUISIANA,56992.0,N,N,2019,2022,others
3226907,CERTIFIED,INSPECTOR V,Y,2019-10-25,2022-10-24,1.0,0,1,0,0.0,0,0,"INTERTEK USA, INC",CORTLAND,NY,Y,LOUISIANA,58011.0,N,N,2019,2022,others
3226908,DENIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-10-01,2021-09-30,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,N,N,2019,2021,others
3226909,CERTIFIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-11-01,2022-10-31,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,N,N,2019,2022,others
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,Y,2018-10-17,2021-10-17,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733.0,N,N,2018,2021,others

#### Converting data types of int and float columns into their respective least required datatype.

In [50]:
def reduce_memory_usage(df):
    for column in preprocessed_data1.columns:
        column_dtype = df[column].dtype
        if column_dtype != object:
            column_min = df[column].min() #To store the minimum value in that column 
            column_max = df[column].max() # to store the maximum value in that column

            # now if a column is not object it can either be integer or float
            if str(column_dtype)[:3] == 'int':
                # check in range of which dataype does min and maximm values lie and set the data type accordingly of that column.
                # minimum value of the column should be greater than or equal to lower bound of that datatype and and maximum value of that column 
                # should be lesser than or equal to upperbound of that data type.
                # np.iinfo gives integer info of given datatype say np.int8
                if column_min >= np.iinfo(np.int8).min and column_max <= np.iinfo(np.int8).max:
                    df[column] = df[column].astype(np.int8)
                elif column_min >= np.iinfo(np.int16).min and column_max <= np.iinfo(np.int16).max:
                    df[column] = df[column].astype(np.int16)
                elif column_min >= np.iinfo(np.int32).min and column_max <= np.iinfo(np.int32).max:
                    df[column] = df[column].astype(np.int32)
                else:
                    df[column] = df[column].astype(np.int64)

            # Now if a column is not object or int then it'll be float
            # Now here we'll use finfo to get float info of given datatype like float16
            else:
                if column_min >= np.finfo(np.float16).min and column_max <= np.finfo(np.float16).max:
                    df[column] = df[column].astype(np.float16)
                elif column_min >= np.finfo(np.float32).min and column_max <= np.finfo(np.float32).max:
                    df[column] = df[column].astype(np.float32)
                else: 
                    df[column] = df[column].astype(np.float64)
    return df

In [51]:
preprocessed_data1 = reduce_memory_usage(preprocessed_data1)
preprocessed_data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2896711 entries, 0 to 3226910
Data columns (total 23 columns):
 #   Column                       Dtype
---  ------                       -----
 0   CASE_STATUS                  object
 1   JOB_TITLE                    object
 2   FULL_TIME_POSITION           object
 3   EMPLOYMENT_START_DATE        object
 4   EMPLOYMENT_END_DATE          object
 5   TOTAL_WORKER_POSITIONS       float16
 6   NEW_EMPLOYMENT               object
 7   CONTINUED_EMPLOYMENT         object
 8   CHANGE_PREVIOUS_EMPLOYMENT   int16
 9   NEW_CONCURRENT_EMPLOYMENT    float16
 10  CHANGE_EMPLOYER              int16
 11  AMENDED_PETITION             int16
 12  EMPLOYER_NAME                object
 13  EMPLOYER_CITY                object
 14  EMPLOYER_STATE               object
 15  AGENT_REPRESENTING_EMPLOYER  object
 16  WORKSITE_STATE               object
 17  PREVAILING_WAGE              float32
 18  H1B_DEPENDENT                object
 19  WILLFUL_VIOLATOR             object
 20  EMPLOYMENT_START_YEAR        int16
 21  EMPLOYMENT_END_YEAR          int16
 22  OCCUPATION                   object
dtypes: float16(2), float32(1), int16(5), object(15)
memory usage: 403.3+ MB

#### checking columns which have YES ,NO, Y and N , Converting all of them into Y and N (Only initials to save memory)

In [52]:
preprocessed_data1['FULL_TIME_POSITION'].value_counts()

FULL_TIME_POSITION
Y    2851328
N      45383
Name: count, dtype: int64

In [53]:
preprocessed_data1['AGENT_REPRESENTING_EMPLOYER'].value_counts()

AGENT_REPRESENTING_EMPLOYER
Yes    1246859
Y       831893
No      464182
N       353777
Name: count, dtype: int64

In [54]:
preprocessed_data1['H1B_DEPENDENT'].value_counts()

H1B_DEPENDENT
No     1174806
N       810839
Yes     458297
Y       452769
Name: count, dtype: int64

In [55]:
preprocessed_data1['WILLFUL_VIOLATOR'].value_counts()

WILLFUL_VIOLATOR
No     1632553
N      1263064
Yes        550
Y          544
Name: count, dtype: int64

In [56]:
list_of_yes_no = ['Yes', 'No','Y', 'N']
for column in preprocessed_data1.columns:
    if preprocessed_data1[column].dtype == object:
        if preprocessed_data1[column].isin(list_of_yes_no).any():
            preprocessed_data1[column] = preprocessed_data1[column].replace({'Yes' : 'Y', 'No' : 'N'})

In [57]:
preprocessed_data1['FULL_TIME_POSITION'].value_counts()

FULL_TIME_POSITION
Y    2851328
N      45383
Name: count, dtype: int64

In [58]:
preprocessed_data1['AGENT_REPRESENTING_EMPLOYER'].value_counts()

AGENT_REPRESENTING_EMPLOYER
Y    2078752
N     817959
Name: count, dtype: int64

In [59]:
preprocessed_data1['H1B_DEPENDENT'].value_counts()

H1B_DEPENDENT
N    1985645
Y     911066
Name: count, dtype: int64

In [60]:
preprocessed_data1['WILLFUL_VIOLATOR'].value_counts()

WILLFUL_VIOLATOR
N    2895617
Y       1094
Name: count, dtype: int64

In [61]:
preprocessed_data1

,CASE_STATUS,JOB_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYMENT_START_YEAR,EMPLOYMENT_END_YEAR,OCCUPATION
0,CERTIFIED,DevOps Engineer II,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Y,NJ,109283.0,N,N,2023,2026,IT
1,CERTIFIED,FE Engineer,Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,Cupertino,CA,Y,CA,144248.0,N,N,2023,2026,ELECTRONICS ENGINEERS
2,CERTIFIED,Control Sys Engineer,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,Irving,TX,N,IL,100443.0,N,N,2023,2026,MECHANICAL ENGINEERS
3,CERTIFIED,Senior Lecturer,Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,Arlington,TX,N,TX,47380.0,N,N,2023,2026,EDUCATION
4,CERTIFIED,Principal Payment Tech Development,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,Riverwoods,IL,Y,IL,114067.0,N,N,2023,2026,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226906,CERTIFIED,PETROLEUM INSPECTOR,Y,2019-09-19,2022-09-18,1.0,0,1,0,0.0,0,0,AMSPEC LLC,CRANBURY,NJ,Y,LOUISIANA,56992.0,N,N,2019,2022,others
3226907,CERTIFIED,INSPECTOR V,Y,2019-10-25,2022-10-24,1.0,0,1,0,0.0,0,0,"INTERTEK USA, INC",CORTLAND,NY,Y,LOUISIANA,58011.0,N,N,2019,2022,others
3226908,DENIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-10-01,2021-09-30,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,N,N,2019,2021,others
3226909,CERTIFIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-11-01,2022-10-31,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FLORIDA,65645.0,N,N,2019,2022,others
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,Y,2018-10-17,2021-10-17,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733.0,N,N,2018,2021,others

#### Correcting Employer_state and worksite_state column by converting full names of states into their respective Initials

In [62]:
len(list(preprocessed_data1['EMPLOYER_STATE'].value_counts()))

57

In [63]:
preprocessed_data1['WORKSITE_STATE'].value_counts()

WORKSITE_STATE
CA                  460235
TX                  289654
NY                  172690
WA                  133741
NJ                  126303
                     ...
ALASKA                  98
VIRGIN ISLANDS          45
PW                       2
PALAU                    1
MARSHALL ISLANDS         1
Name: count, Length: 113, dtype: int64

In [64]:
# Dictionary to map U.S. states and territories to their abbreviations with uppercase keys
state_abbreviations = {
    'ALABAMA': 'AL', 'ALASKA': 'AK', 'ARIZONA': 'AZ', 'ARKANSAS': 'AR',
    'CALIFORNIA': 'CA', 'COLORADO': 'CO', 'CONNECTICUT': 'CT', 'DELAWARE': 'DE',
    'FLORIDA': 'FL', 'GEORGIA': 'GA', 'HAWAII': 'HI', 'IDAHO': 'ID',
    'ILLINOIS': 'IL', 'INDIANA': 'IN', 'IOWA': 'IA', 'KANSAS': 'KS',
    'KENTUCKY': 'KY', 'LOUISIANA': 'LA', 'MAINE': 'ME', 'MARYLAND': 'MD',
    'MASSACHUSETTS': 'MA', 'MICHIGAN': 'MI', 'MINNESOTA': 'MN', 
    'MISSISSIPPI': 'MS', 'MISSOURI': 'MO', 'MONTANA': 'MT', 
    'NEBRASKA': 'NE', 'NEVADA': 'NV', 
    'NEW HAMPSHIRE': 'NH', 
    'NEW JERSEY': 'NJ', 
    'NEW MEXICO': 'NM', 
    'NEW YORK': 'NY',
    'NORTH CAROLINA': 'NC', 
    'NORTH DAKOTA': 'ND', 
    'OHIO': 'OH', 
    'OKLAHOMA': 'OK',
    'OREGON': 'OR', 
    'PENNSYLVANIA': 'PA', 
    'RHODE ISLAND': 'RI', 
    'SOUTH CAROLINA':  'SC',
    'SOUTH DAKOTA':'SD',
    'TENNESSEE':'TN',
    'TEXAS':'TX',
    'UTAH':'UT',
    'VERMONT':'VT',
    'VIRGINIA':'VA',
    'WASHINGTON':'WA',
    'WEST VIRGINIA':'WV',
    'WISCONSIN':'WI',
    'WYOMING':'WY',
    'PALAU':'PW',
    
    # U.S. Territories
    'AMERICAN SAMOA':'AS', 
    'GUAM':'GU', 
    'NORTHERN MARIANA ISLANDS':'MP',
    'PUERTO RICO':'PR',
    'VIRGIN ISLANDS':'VI',
    'DISTRICT OF COLUMBIA':'DC',
    'MARSHALL ISLANDS':'ML'
}

preprocessed_data1['WORKSITE_STATE'] = preprocessed_data1['WORKSITE_STATE'].replace(state_abbreviations)
preprocessed_data1['WORKSITE_STATE'].value_counts()

WORKSITE_STATE
CA    572312
TX    347315
NY    219115
NJ    160386
WA    158350
IL    138135
MA    114050
GA    105213
NC    102515
PA     92370
FL     88637
MI     86541
VA     80795
OH     67393
AZ     50456
MD     44411
MN     41079
CT     39158
MO     37005
TN     32676
CO     32656
IN     29862
WI     26511
OR     25179
AR     18465
UT     16212
DC     15989
SC     14480
DE     14138
IA     13574
KY     13103
KS     11068
RI      9837
NE      9559
AL      8618
LA      8036
NH      7616
OK      7380
NV      6919
NM      5068
ID      3896
MS      3817
ME      2322
GU      2297
WV      2166
ND      2026
HI      1684
SD      1529
VT      1421
MT       947
AK       701
WY       581
MP       455
PR       424
VI       259
PW         3
ML         1
Name: count, dtype: int64

In [65]:
pd.options.display.max_columns = 30
preprocessed_data1

,CASE_STATUS,JOB_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYMENT_START_YEAR,EMPLOYMENT_END_YEAR,OCCUPATION
0,CERTIFIED,DevOps Engineer II,Y,2023-03-18,2026-03-17,1.0,0,1,0,0.0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Y,NJ,109283.0,N,N,2023,2026,IT
1,CERTIFIED,FE Engineer,Y,2023-06-19,2026-06-18,1.0,0,1,0,0.0,0,0,Apple Inc.,Cupertino,CA,Y,CA,144248.0,N,N,2023,2026,ELECTRONICS ENGINEERS
2,CERTIFIED,Control Sys Engineer,Y,2023-01-16,2026-01-15,1.0,0,0,0,0.0,1,0,Caterpillar Inc,Irving,TX,N,IL,100443.0,N,N,2023,2026,MECHANICAL ENGINEERS
3,CERTIFIED,Senior Lecturer,Y,2023-03-15,2026-03-14,1.0,1,0,0,0.0,0,0,University of Texas at Arlington,Arlington,TX,N,TX,47380.0,N,N,2023,2026,EDUCATION
4,CERTIFIED,Principal Payment Tech Development,Y,2023-01-03,2026-01-02,1.0,0,0,0,0.0,1,0,DFS Services LLC,Riverwoods,IL,Y,IL,114067.0,N,N,2023,2026,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226906,CERTIFIED,PETROLEUM INSPECTOR,Y,2019-09-19,2022-09-18,1.0,0,1,0,0.0,0,0,AMSPEC LLC,CRANBURY,NJ,Y,LA,56992.0,N,N,2019,2022,others
3226907,CERTIFIED,INSPECTOR V,Y,2019-10-25,2022-10-24,1.0,0,1,0,0.0,0,0,"INTERTEK USA, INC",CORTLAND,NY,Y,LA,58011.0,N,N,2019,2022,others
3226908,DENIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-10-01,2021-09-30,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FL,65645.0,N,N,2019,2021,others
3226909,CERTIFIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-11-01,2022-10-31,6.0,6,0,0,0.0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FL,65645.0,N,N,2019,2022,others
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,Y,2018-10-17,2021-10-17,1.0,0,0,0,0.0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733.0,N,N,2018,2021,others

In [66]:
preprocessed_data1['NEW_CONCURRENT_EMPLOYMENT'].value_counts()

NEW_CONCURRENT_EMPLOYMENT
0.0       2876467
1.0         17220
2.0          1170
5.0           807
4.0           787
10.0          191
3.0            23
15.0           15
8.0             7
250.0           6
6.0             5
30.0            2
99.0            2
7.0             2
20.0            2
24.0            1
1098.0          1
223.0           1
300.0           1
9.0             1
Name: count, dtype: int64

In [67]:
float_columns = preprocessed_data1.select_dtypes(include=['float16', 'float32']).columns

preprocessed_data1[float_columns] = preprocessed_data1[float_columns].astype('int32')

In [68]:
preprocessed_data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2896711 entries, 0 to 3226910
Data columns (total 23 columns):
 #   Column                       Dtype
---  ------                       -----
 0   CASE_STATUS                  object
 1   JOB_TITLE                    object
 2   FULL_TIME_POSITION           object
 3   EMPLOYMENT_START_DATE        object
 4   EMPLOYMENT_END_DATE          object
 5   TOTAL_WORKER_POSITIONS       int32
 6   NEW_EMPLOYMENT               object
 7   CONTINUED_EMPLOYMENT         object
 8   CHANGE_PREVIOUS_EMPLOYMENT   int16
 9   NEW_CONCURRENT_EMPLOYMENT    int32
 10  CHANGE_EMPLOYER              int16
 11  AMENDED_PETITION             int16
 12  EMPLOYER_NAME                object
 13  EMPLOYER_CITY                object
 14  EMPLOYER_STATE               object
 15  AGENT_REPRESENTING_EMPLOYER  object
 16  WORKSITE_STATE               object
 17  PREVAILING_WAGE              int32
 18  H1B_DEPENDENT                object
 19  WILLFUL_VIOLATOR             object
 20  EMPLOYMENT_START_YEAR        int16
 21  EMPLOYMENT_END_YEAR          int16
 22  OCCUPATION                   object
dtypes: int16(5), int32(3), object(15)
memory usage: 414.4+ MB

In [69]:
pd.options.display.max_columns = 30
preprocessed_data1

,CASE_STATUS,JOB_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYMENT_START_YEAR,EMPLOYMENT_END_YEAR,OCCUPATION
0,CERTIFIED,DevOps Engineer II,Y,2023-03-18,2026-03-17,1,0,1,0,0,0,0,"Insurance Services Office, Inc.",Jersey City,NJ,Y,NJ,109283,N,N,2023,2026,IT
1,CERTIFIED,FE Engineer,Y,2023-06-19,2026-06-18,1,0,1,0,0,0,0,Apple Inc.,Cupertino,CA,Y,CA,144248,N,N,2023,2026,ELECTRONICS ENGINEERS
2,CERTIFIED,Control Sys Engineer,Y,2023-01-16,2026-01-15,1,0,0,0,0,1,0,Caterpillar Inc,Irving,TX,N,IL,100443,N,N,2023,2026,MECHANICAL ENGINEERS
3,CERTIFIED,Senior Lecturer,Y,2023-03-15,2026-03-14,1,1,0,0,0,0,0,University of Texas at Arlington,Arlington,TX,N,TX,47380,N,N,2023,2026,EDUCATION
4,CERTIFIED,Principal Payment Tech Development,Y,2023-01-03,2026-01-02,1,0,0,0,0,1,0,DFS Services LLC,Riverwoods,IL,Y,IL,114067,N,N,2023,2026,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226906,CERTIFIED,PETROLEUM INSPECTOR,Y,2019-09-19,2022-09-18,1,0,1,0,0,0,0,AMSPEC LLC,CRANBURY,NJ,Y,LA,56992,N,N,2019,2022,others
3226907,CERTIFIED,INSPECTOR V,Y,2019-10-25,2022-10-24,1,0,1,0,0,0,0,"INTERTEK USA, INC",CORTLAND,NY,Y,LA,58011,N,N,2019,2022,others
3226908,DENIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-10-01,2021-09-30,6,6,0,0,0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FL,65645,N,N,2019,2021,others
3226909,CERTIFIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-11-01,2022-10-31,6,6,0,0,0,0,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FL,65645,N,N,2019,2022,others
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,Y,2018-10-17,2021-10-17,1,0,0,0,0,1,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733,N,N,2018,2021,others

#### Dropping column employment_start_year and employment_year as we don not need it for Tableau analysis.

In [70]:
preprocessed_data1.drop(['EMPLOYMENT_START_YEAR', 'EMPLOYMENT_END_YEAR', 'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT', 'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION'],axis = 1, inplace = True)

In [71]:
preprocessed_data1

,CASE_STATUS,JOB_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,H1B_DEPENDENT,WILLFUL_VIOLATOR,OCCUPATION
0,CERTIFIED,DevOps Engineer II,Y,2023-03-18,2026-03-17,1,"Insurance Services Office, Inc.",Jersey City,NJ,Y,NJ,109283,N,N,IT
1,CERTIFIED,FE Engineer,Y,2023-06-19,2026-06-18,1,Apple Inc.,Cupertino,CA,Y,CA,144248,N,N,ELECTRONICS ENGINEERS
2,CERTIFIED,Control Sys Engineer,Y,2023-01-16,2026-01-15,1,Caterpillar Inc,Irving,TX,N,IL,100443,N,N,MECHANICAL ENGINEERS
3,CERTIFIED,Senior Lecturer,Y,2023-03-15,2026-03-14,1,University of Texas at Arlington,Arlington,TX,N,TX,47380,N,N,EDUCATION
4,CERTIFIED,Principal Payment Tech Development,Y,2023-01-03,2026-01-02,1,DFS Services LLC,Riverwoods,IL,Y,IL,114067,N,N,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226906,CERTIFIED,PETROLEUM INSPECTOR,Y,2019-09-19,2022-09-18,1,AMSPEC LLC,CRANBURY,NJ,Y,LA,56992,N,N,others
3226907,CERTIFIED,INSPECTOR V,Y,2019-10-25,2022-10-24,1,"INTERTEK USA, INC",CORTLAND,NY,Y,LA,58011,N,N,others
3226908,DENIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-10-01,2021-09-30,6,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FL,65645,N,N,others
3226909,CERTIFIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-11-01,2022-10-31,6,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FL,65645,N,N,others
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,Y,2018-10-17,2021-10-17,1,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733,N,N,others

#### Converting Job Title Column to UPPER CASE so that jobs with same name can be counted together

In [72]:
preprocessed_data1['JOB_TITLE'] = preprocessed_data1['JOB_TITLE'].apply(lambda x : x.upper())
preprocessed_data1

,CASE_STATUS,JOB_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,H1B_DEPENDENT,WILLFUL_VIOLATOR,OCCUPATION
0,CERTIFIED,DEVOPS ENGINEER II,Y,2023-03-18,2026-03-17,1,"Insurance Services Office, Inc.",Jersey City,NJ,Y,NJ,109283,N,N,IT
1,CERTIFIED,FE ENGINEER,Y,2023-06-19,2026-06-18,1,Apple Inc.,Cupertino,CA,Y,CA,144248,N,N,ELECTRONICS ENGINEERS
2,CERTIFIED,CONTROL SYS ENGINEER,Y,2023-01-16,2026-01-15,1,Caterpillar Inc,Irving,TX,N,IL,100443,N,N,MECHANICAL ENGINEERS
3,CERTIFIED,SENIOR LECTURER,Y,2023-03-15,2026-03-14,1,University of Texas at Arlington,Arlington,TX,N,TX,47380,N,N,EDUCATION
4,CERTIFIED,PRINCIPAL PAYMENT TECH DEVELOPMENT,Y,2023-01-03,2026-01-02,1,DFS Services LLC,Riverwoods,IL,Y,IL,114067,N,N,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226906,CERTIFIED,PETROLEUM INSPECTOR,Y,2019-09-19,2022-09-18,1,AMSPEC LLC,CRANBURY,NJ,Y,LA,56992,N,N,others
3226907,CERTIFIED,INSPECTOR V,Y,2019-10-25,2022-10-24,1,"INTERTEK USA, INC",CORTLAND,NY,Y,LA,58011,N,N,others
3226908,DENIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-10-01,2021-09-30,6,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FL,65645,N,N,others
3226909,CERTIFIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-11-01,2022-10-31,6,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FL,65645,N,N,others
3226910,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,Y,2018-10-17,2021-10-17,1,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733,N,N,others

#### Saving above file for Tableau Analysis.

In [73]:
tableau_path = r'D:\H1B project\Final_dataset\tableau_dataset1.csv'
preprocessed_data1.to_csv(tableau_path, index = False)

In [74]:
preprocessed_data1['CASE_STATUS'].value_counts()

CASE_STATUS
CERTIFIED                2692035
CERTIFIED - WITHDRAWN     130320
WITHDRAWN                  58194
DENIED                     16162
Name: count, dtype: int64